<div class="container">
  <div class="row">
    <div class="col-lg-3 footerColumn">
      <span>VỀ CHÚNG TÔI</span>
      <div class="line"></div>
      <p>
        <i class="fa-regular fa-building"></i> Uniqlo là công ty Nhật Bản, cung
        cấp các sản phẩm thời trang thiết yếu cho tất cả mọi người
      </p>
      <p>
        <i class="fa-solid fa-location-dot"></i> Tầng 26, Tòa nhà Viettel, Số
        285, Đường Cách Mạng Tháng Tám, Phường 12, Quận 10, Thành phố Hồ Chí
        Minh, Việt Nam
      </p>
    </div>
    <div class="col-lg-3 footerColumn">
      <span>LIÊN HỆ</span>
      <div class="line"></div>
      <p><i class="fa-solid fa-phone"></i> 0849 10 52 52</p>
      <p><i class="fa-solid fa-phone"></i> 02623 612 777</p>
      <p><i class="fa-sharp fa-solid fa-envelope"></i> cskh@uniqlo.com</p>
      <p><i class="fa-solid fa-earth-americas"></i> uniqlo.com</p>
    </div>
    <div class="col-lg-3 footerColumn">
      <span>UNIQLO</span>
      <div class="line"></div>
      <ul>
        <li><a href="#/san-pham">SẢN PHẨM</a></li>
        <li><a href="#/gioi-thieu">GIỚI THIỆU</a></li>
        <li><a href="#/lien-he">LIÊN HỆ</a></li>
      </ul>
    </div>
    <div class="col-lg-3 footerColumn">
      <span>TÀI KHOẢN XÃ HỘI UNIQLO </span>
      <div class="line"></div>
      <a href="https://www.facebook.com/uniqlovnam"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/uniqlovnam/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCTCaSotwb_3myUjZNriRYrg"><i class="fa-brands fa-youtube"></i></i></a>
    </div>
  </div>
</div>
